* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
  overflow: hidden;
}

.page {
  display: flex;
  width: 100%;
  height: 100%;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* padding-top: 2rem; */
  transform: translateX(-5%); /* sposta verso sinistra */
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* padding-top: 2rem; */
  transform: translateX(-12%); /* sposta verso destra */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.score {
  width: 400px;
  height: 190px;
  display: flex;
  justify-content: center; /* centra orizzontalmente */
  align-items: center;     /* centra verticalmente */
}

.live-widget iframe {
  width: 100%;
  height: 100%;
}

/* Sponsor carousel */
.sponsor-carousel {
  height: 130px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.sponsor-carousel img {
  width: 420px;
  height: 130px;
  object-fit: scale-down;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

/* Intervallo */

.iframe-wrapper {
  width: 500px;
  height: 400px; /* Area visibile */
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* Internet Explorer 10+ */
}

.iframe-wrapper::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Opera */
}

.iframe-wrapper iframe {
  width: 100%;
  height: 900px; /* Altezza effettiva contenuto */
  border: none;
  pointer-events: none; /* evita interazione */
}
