* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
  overflow: hidden;
}

.page {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left, .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mirrored {
  transform: scaleX(-1);
}

.mirrored * {
  transform: scaleX(-1);
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.team-logo {
  width: 200px;
  height: auto;
}

.team-logo-unmirrored {
  width: 200px;
  height: auto;
  transform: scaleX(1) !important;
}

.unmirrored {
  transform: scaleX(1) !important;
}

.live-widget iframe {
  width: 100%;
  max-width: 400px;
  width: 350px;
  height: 250px;
  border-radius: 8px;
  background: #3247fc;
}


/* Sponsor carousel */
.sponsor-carousel {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-carousel img {
  width: 350px;              /* larghezza fissa */
  height: 150px;             /* altezza fissa */
  object-fit: contain;       /* mantiene le proporzioni */
  transition: opacity 0.5s ease-in-out;
  background-color: white;   /* opzionale: fondo neutro per immagini trasparenti */
  padding: 5px;              /* opzionale: spazio interno */
}
