* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
  overflow: hidden;
}

.page {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left, .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mirrored {
  transform: scaleX(-1);
}

.mirrored * {
  transform: scaleX(-1);
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.team-logo {
  width: 100px;
  height: auto;
}

.team-logo-unmirrored {
  width: 100px;
  height: auto;
  transform: scaleX(1) !important;
}

.unmirrored {
  transform: scaleX(1) !important;
}

.live-widget iframe {
  width: 100%;
  max-width: 400px;
  width: 250px;
  height: 150px;
  border-radius: 8px;
  background: #3247fc;
}


/* Sponsor carousel */
.sponsor-carousel {
  height: 150px;
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sponsor-carousel img {
  width: 200px;
  height: 150px;
  object-fit: contain;
  padding: 5px;
  border-radius: 8px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

/* Intervallo */

.iframe-wrapper {
  width: 500px;
  height: 400px; /* Area visibile */
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* Internet Explorer 10+ */
}

.iframe-wrapper::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Opera */
}

.iframe-wrapper iframe {
  width: 100%;
  height: 600px; /* Altezza effettiva contenuto */
  border: none;
  pointer-events: none; /* evita interazione */
}